.app-home {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 40px 0px;
}

thead th {
  background-color: var(--table-heading-background);
  padding: 20px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: var(--table-even-row-background);
}

tbody tr:hover {
  background-color: var(--table-row-hover);
  cursor: pointer;
}

td {
  padding: 20px;
}

.buttons-container{
  display: flex;
  gap: 20px
}

.pagination{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.filter{
  display: flex;
  gap: 30px;
  align-items: center;
}

select {
  width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
