:root {
  /* light mode */
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --table-even-row-background-light: #f0ecec;
  --table-heading-background-light: #f2f2f2;
  --table-row-hover-light: #e0e0e0;

  /* dark mode */
  --background-color-dark: #121212;
  --text-color-dark: #ffffff;
  --table-even-row-background-dark: #525050;
  --table-heading-background-dark: #473f3f;
  --table-row-hover-dark: #2b2626;
}

[data-theme='light'] {
  --table-even-row-background: var(--table-even-row-background-light);
  --table-heading-background:  var(--table-heading-background-light);
  --table-row-hover: var(--table-row-hover-light);
}

[data-theme='dark'] {
  --table-heading-background: var(--table-heading-background-dark);
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --table-even-row-background: var(--table-even-row-background-dark);
  --table-row-hover: var(--table-row-hover-dark);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--background-color);
  color: var(--text-color);
}
