:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --table-even-row-background-light: #f0ecec;
  --table-odd-row-background-light: #rgb(225, 219, 219);

  --background-color-dark: #121212;
  --text-color-dark: #ffffff;
  --table-even-row-background-dark: #525050;
  --table-odd-row-background-dark: #363333;
}

[data-theme='dark'] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --primary-color-bro: red;
  --table-even-row-background: var(--table-even-row-background-dark);
  --table-odd-row-background: var(--table-odd-row-background-dark);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--background-color);
  color: var(--text-color);
}
