.cus-button {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.cus-button:hover:not([disabled]) {
  filter: brightness(90%);
}

.cus-button:disabled {
  opacity: 0.6;
}

.danger {
  background-color: #dc3545;
}

.secondary {
  background-color: #007bff;
}

.success {
  background-color: #28a745;
}
