.custom-button {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.custom-button:hover:not([disabled]) {
  filter: brightness(90%);
}

.custom-button:disabled {
  opacity: 0.6;
}

.danger {
  background-color: var(--danger-color)
}

.secondary {
  background-color: var(--secondary-color);
}
