table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 40px 0px;
}

thead th {
  background-color: var(--table-heading-background);
  padding: 20px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: var(--table-even-row-background);
}

tbody tr:hover {
  background-color: var(--table-row-hover);
  cursor: pointer;
}

td {
  padding: 20px;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

.pagination {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.expenses-not-found {
  text-align: center;
  margin-top: 50px;
  color: grey;
}

@media screen and (max-width: 768px) {
  .buttons-container {
    display: none;
  }
}
